{% extends '_base.html' %}
{% load static leaflet_tags portfolio_tags %}

{% block title %}GIS Portfolio | Home{% endblock title %}

{% block content %}

<div class="container-fluid">
    {% leaflet_map "main" callback="main_map_init" %}
</div>

{% endblock content %}

{% block css %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}"/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <style>
        .leaflet-container {  /* all maps */
            height: 85vh;
        }

    </style>
{% endblock css %}

{% block javascript %}
    {% leaflet_js %}
    <script src="{% static 'js/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script type="text/javascript">
        function main_map_init(map, options) {
            // add fullscreencontrol to map
            map.options.fullscreenControl = true;
            map.addControl(new L.Control.Fullscreen());

            //Initialize Leaflet map for displaying all Profile.

            // Define marker cluster group, so the marker will be grouped as we zoomin/zoomout and
            // will not be cluttered.
            var markers = L.markerClusterGroup();

            // Loop through all Profile
            {% for profile in object_list %}

                // Add Profile to cluster group if location field is set
                if('{{ profile.location }}' != 'None') {
                    var latLng = [{{ profile.location.1 }}, {{ profile.location.0 }}];
                }
                else {
                    var latLng = [-11.769893, 4.282790];
                }
                // use Profile photo if exists, if not then use avatar image
                {% if profile.photo %}
                    var popup = '<img src="{{ profile.photo.url }}" width="210px">';
                {% else %}
                    var img = "{% static 'images/avatar.png' %}";
                    popup = '<img src="' + img + '" width="210px">';
                {% endif %}

                popup += '<br/><b>Name:</b>{{ profile.first_name }} {{ profile.last_name }}' +
                            '<br/><b>Expertise:</b> {{ profile.expertise.all|expertises_to_comma_separated_string }}' +
                            '<br><b>Email:</b> <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>' +
                            '<br/><b>Phone:</b> {{ profile.phone }}' +
                            '<br/><b>Address:</b> {{ profile.address }}';
                var point = L.marker(latLng).bindPopup(popup,{maxWidth:220}).addTo(markers);
            {% endfor %}

            // Add cluster group to map
            map.addLayer(markers);
        }
    </script>
{% endblock javascript %}